html {
    overflow-x: hidden;
}

body {
    text-align: center;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','YuGothic','Yu Gothic',sans-serif;
    color: rgb(130, 130, 130);
    font-weight: bold;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

img {
    position: relative;
    margin: 0;
    width: 100vw;
}


.title {
    font-size: 10vw;
    text-align: center;
    position: absolute;
    top: 12vw;
    width: 100vw;
    color: white;
    font-family: 'RocknRoll One', sans-serif;
}


.icon {
    position: absolute;
    top: 3vw;
    left: 3vw;
    width: 7vw;
    height: 7vw;
}

.icon img {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.english {
    font-family: 'Josefin Sans', sans-serif;
}


.time {
    text-align: right;
    font-size: 8vw;
    margin-right: 4vw;
    color: #EEC800;
}

.place {
    text-align: right;
    font-size: 5vw;
    margin-right: 4vw;
    color: #EEC800;
    font-family: 'RocknRoll One', sans-serif;
}

.copy {
    width: 80vw;
    margin: 10vw auto;
    font-size: 6vw;
    line-height: 9vw;
    font-family: 'RocknRoll One', sans-serif;
}

.large {
    font-size: 9vw;
    line-height: 11vw;
}

.medium {
    font-size: 7vw;
    line-height: 10vw;
}

.list {
    font-size: 6vw;
    line-height: 14vw;
}

.subtitle {
    font-size: 12vw;
    line-height: 20vw;
    margin-top: 8vw;
    margin-bottom: 3vw;
    color: #EEC800;
    height: 20vw;
    font-weight: 900;
    text-align: center;
}

.comment {
    margin: 3vw auto;
    width: 80vw;
    font-size: 5vw;
    line-height: 8vw;
    font-family: 'RocknRoll One', sans-serif;

}

/* hr {
    width: 50vw;
    color: gray;
    margin: auto;
    border-style: dotted;
} */

hr {
    margin: 0 auto;
    width: 60vw;
    border-width: 1px;
    border-style: dashed;
    color: rgb(255, 207, 118);
}

.long-text {
    font-size: 4.5vw;
}

.footer {
    width: 100vw;
    height: 20vw;
    background-color: rgba(70, 70, 70, 0.9);
    position: fixed;
    bottom: 0;
}

.footer a {
    line-height: 20vw;
    font-size: 5vw;
    color: white;
}

.left-button {
    position: absolute;
    left: 5vw;
    text-align: left;
}

.right-button {
    position: absolute;
    right: 5vw;
    text-align: right;
}

.space {
    height: 30vw;
}
